---
import { getCollection } from 'astro:content'
import AstropressConfig from '../../../astropress.config'
import Layout from '@/layouts/layout.astro'

const posts = await getCollection(AstropressConfig.contentPath)
---
<Layout>
  <h1>Astro</h1>

  <p>Welcome to posts!</p>

  <ul>
    {posts.map(post => (
            <li>
                <a href=`/posts/${post.slug}`>{post.id.replace('.md', '')}</a>
            </li>
    ))}
  </ul>
</Layout>
