---
import Navbar from '@/layouts/navbar.astro'
import { getCollection } from 'astro:content'
import AstropressConfig from '../../../astropress.config'

const posts = await getCollection(AstropressConfig.contentPath)
---
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>My Astropress</title>
</head>
<body>
<Navbar/>
<h1>Astro</h1>

<p>Welcome to blogs!</p>

<ul>
  {posts.map(post => (
          <li>
              <a href=`/blogs/${post.slug}`>{post.id.replace('.md', '')}</a>
          </li>
  ))}
</ul>

</body>
</html>
